name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2.1.2
        with:
          python-version: 3.8

      - name: Install tox
        run: pip install tox

      - name: Cache tox environments
        id: cache-tox
        uses: actions/cache@v2.1.1
        with:
          path: .tox
          # requirements/*.txt, pyproject.toml, and .pre-commit-config.yaml
          # have versioning info that would impact the tox environment.
          key: tox-${{ hashFiles('requirements/*.txt') }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run tox
        run: tox -e lint,py,coverage-report,typing  # run tox using Python in path

  build:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v2

      - name: Define the Docker tag
        id: vars
        run: echo ::set-output name=tag::$(echo ${GITHUB_REF} | sed -E 's,refs/(heads|tags)/,,' | sed -E 's,/,-,g')

      - name: Print the tag
        id: print
        run: echo ${{steps.vars.outputs.tag}}

      - name: Log into Docker Hub
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Pull previous images
        run: |
          docker pull lsstsqre/kafkaaggregator:deps-${{steps.vars.outputs.tag}} || true
          docker pull lsstsqre/kafkaaggregator:${{steps.vars.outputs.tag}} || true

      - name: Build the dependencies Docker image
        run: |
          docker build --target dependencies-image \
            --cache-from=lsstsqre/kafkaaggregator:deps-${{steps.vars.outputs.tag}} \
            --tag lsstsqre/kafkaaggregator:deps-${{steps.vars.outputs.tag}} .

      - name: Build the runtime Docker image
        run: |
          docker build --target runtime-image \
            --cache-from=lsstsqre/kafkaaggregator:${{steps.vars.outputs.tag}} \
            --tag lsstsqre/kafkaaggregator:${{steps.vars.outputs.tag}} .

      - name: Push Docker images
        run: |
          docker push lsstsqre/kafkaaggregator:deps-${{steps.vars.outputs.tag}}
          docker push lsstsqre/kafkaaggregator:${{steps.vars.outputs.tag}}

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.1.2
        with:
          python-version: 3.8
      - name: Install tox and LTD Conveyor
        run: pip install tox ltd-conveyor
      - name: Install graphviz
        run: sudo apt-get install graphviz
      - name: Run tox
        run: tox -e docs
      - name: Upload to LSST the Docs
        env:
          LTD_USERNAME: ${{ secrets.LTD_USERNAME }}
          LTD_PASSWORD: ${{ secrets.LTD_PASSWORD }}
        run: ltd upload --product kafka-aggregator --gh --dir docs/_build/html

  pypi:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm
      - name: Set up Python
        uses: actions/setup-python@v2.1.2
        with:
          python-version: 3.8
      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install --upgrade setuptools wheel
      - name: Build a binary wheel and a source tarball
        run: python setup.py sdist bdist_wheel
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.4.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_SQRE_ADMIN }}
